appdirs 
arrow==1.2.1
astroid 
attrs 
Automat==20.2.0
autopep8
backcall 
bcrypt
black==21.11b1
certifi==2021.10.8
cffi 
click==8.0.3
colorama 
constantly==15.1.0
cryptography==36.0.0
cssselect==1.1.0
decorator 
fqdn==1.5.1
h2==3.2.0
hpack==3.0.0
hyperframe==5.2.0
hyperlink 
idna 
incremental 
ipython
isoduration==20.11.0
isort 
itemadapter==0.4.0
itemloaders==1.0.4
jedi 
jmespath==0.10.0
jsonpointer==2.2
jsonschema==4.2.1
lazy-object-proxy 
lxml 
matplotlib-inline
mccabe==0.6.1
mypy-extensions==0.4.3
parsel 
parso 
pathspec==0.9.0
pickleshare 
platformdirs 
priority==1.3.0
prompt-toolkit 
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle
pycparser 
PyDispatcher==2.0.5
Pygments
pylint 
pyOpenSSL==21.0.0
pyrsistent==0.18.0
python-dateutil==2.8.2
pywin32==302;platform_system == "Windows"
queuelib==1.6.2
regex==2021.11.10
rfc3339-validator==0.1.4
rfc3987==1.3.8
Scrapy==2.5.1
scrapy-jsonschema==0.5.0
scrapy-splash==0.8.0
service-identity==21.1.0
six 
toml 
tomli==1.2.2
traitlets
Twisted 
twisted-iocpsupport 
typing_extensions 
uri-template==1.1.0
w3lib 
wcwidth
webcolors==1.11.1
wincertstore==0.2
wrapt
zope.interface 